@model app_test_jmeter.Models.User

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerfilImage)
        </dt>
        <dd>
            <p>
                <img src="/@ViewBag.filePath/@Model.PerfilImage" width="50px" height="50px" />
                <a asp-action="Edit" asp-route-id="@Model.Id">Alterar</a>
            </p>
            <a asp-action="Download" asp-route-id="@Model.Id">Baixar</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
